table {
    border-spacing: 0;
    display: flex;
    justify-content: flex-start; /* Updated this line */
    width: fit-content;
    margin-left: 6rem;
    margin-right: 7rem;
}


td div {
    width: fit-content;
}

figure {
    margin: 0 15px 0 15px;
}

figcaption {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    color: black;
}